# ===== Evolution API =====
# Deve ser igual ao EVOLUTION_TOKEN
AUTHENTICATION_API_KEY=troque-por-uma-chave-forte-32-caracteres-ou-mais
EVOLUTION_TOKEN=troque-por-a-mesma-chave-acima

# ===== Postgres =====
POSTGRES_DB=evolution
POSTGRES_PASSWORD=troque-aqui-senha-postgres

# ===== pgAdmin =====
PGADMIN_DEFAULT_EMAIL=admin@exemplo.com
PGADMIN_DEFAULT_PASSWORD=troque-aqui-senha-pgadmin

# ===== Conexao banco Evolution =====
# A senha aqui deve ser a mesma de POSTGRES_PASSWORD.
DATABASE_CONNECTION_URI=postgresql://postgres:troque-aqui-senha-postgres@postgres:5432/evolution?schema=public

# ===== API Spring Boot =====
SERVER_PORT=8081
EVOLUTION_BASE_URL=http://evolution-api:8080
EVOLUTION_INSTANCE=Gerenciador_containeres
EVOLUTION_URL=http://evolution-api:8080/message/sendText/Gerenciador_containeres
DOCKER_HOST=tcp://host.docker.internal:2375

